body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  width:100%;
  height:100%
}
#titlebar{
  -webkit-app-region: drag;
}
